@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Italic.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Bold.ttf");
}
body {
    font-family: "Roboto";
}